/* Global Styles  */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1vm;
    background-color: #f3f3f3;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}

hr {
    padding: 0;
    margin: 0;
    border-color: rgba(0, 0, 0, 0.11)
}

.green {
    color: white;
    background: #003f1596;
    border-radius: 5px;
    padding: 10px;
}

.content-wrap {
    width: 80%;
    overflow: hidden;
}

.content-wrap h2 {
    font-family: 'Patua One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
}

 /* Navigation Bar */

.navbar {
    display: flex;
    width: 100%;
}

.navbar-items {
    align-self: center;
    text-align: right;
    width: 60%;
    margin-right: 50px;
}

.navbar-items a {
    margin: auto 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 1px;
}

.navbar-items a:hover {
    color: #003F15;
    border-bottom: solid thin #003F15;
}

.logo-and-label {
    width: 40%;
    display: flex;
    margin-left: 50px;
}

.label {
    align-self: center;
}

.label p {
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar h2, .navbar p {
    font-weight: normal;
    margin: 0;
}

/* Introduction */

.introduction {
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(19, 78, 94, 0.7), rgba(113, 178, 128, 0.7)), url(../images/backgrounds/ptss/ptss-bg.webp) no-repeat;
    background-size: cover;
    background-position: top;
}

.intro {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro h1 {
    font-family: 'Patua One', cursive;
    font-weight: normal;
    font-size: 4rem;
    color: #f3f3f3;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.212);
    margin-bottom: 2px;
}

.intro p {
    font-size: 1.7rem;
    color: whitesmoke;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.212);

}

/* About Us */

.about-us {
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
