/* Color Palette
#631D76 - MIDNIGHT
#9E4770 - MAGENTA HAZE
#FBFBFB - SNOW
#2E2532 - DARK PURPLE
#201A23 - RAISIN BLACK
*/

/* Global Styles  */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #201A23;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 25px;
    margin-top: 0;
}
p {
    margin: 10px 0;
    color: #FBFBFB;
}
a {
    color: #FBFBFB;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow {
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 200px;
}

/* Header and Footer styles */
header, footer {
    background: #2E2532;
    color: #394648;
}
/* Header */
.profile-img {
    border-radius: 50%;
}
header h1, header h2 {
    color: #9E4770;
    margin: 0;
}
/* Footer */
footer {
    text-align: center;
}
.contact-info a {
    padding: 10px;
    background: #9E4770;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.contact-info a:hover {
    text-decoration: underline;
}

/* Work Experience */
.work {
    background: #9E4770;
}


/* Education */
.education {
    background: #CBAC88;
}