:root {
    --arsenic: #394648;
    --russian-green: #69995D;
    --light-french-beige: #CBAC88;
    --desert-sand: #EDB6A3;
    --linen: #F8E9E9;
    --red: #9C0D38;
}


/* Global Styles  */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1vm;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #201A23;
}

h2 {
    font-size: 30px;
    text-transform: none;
    letter-spacing: 1px;
}

h3 {
    margin: 0;
    letter-spacing: 2px;
}

a {
    color: var(--red);
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

i {
    color: white;
}

.content-wrap p {
    line-height: 1.5;
}

.uppercase {
    text-transform: uppercase;
    font-style: italic;
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Main Tag Content  */

main p,
main h2,
main h3 {
    color: white;
}


/* Header and Footer styles */

header,
footer {
    background: linear-gradient(rgba(58, 58, 58, 0.8), rgba(114, 114, 114, 0.8)), url(../images/backgrounds/main.webp) no-repeat fixed;
    background-size: cover;
    background-position: center;
}


/* Header */

header {
    position: relative;
}

header h1,
header h2 {
    color: white;
    margin: 0;
}

.profile-img {
    border-radius: 50%;
    border: 0.5px solid var(--light-french-beige);
}

.contact-info a {
    padding-top: 10px;
    padding-right: 10px;
    color: var(--arsenic);
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.header-table {
    display: table;
}

.intro {
    height: 230px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}


/* Social Media Hover Changes */

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animation:hover {
    animation: zoom 1.5s ease-in 0s infinite;
}

.email i:hover {
    transition: 0.3s;
    color: #3CB97F;
}

.website i:hover {
    transition: 0.3s;
    color: #76BD55;
}

.github i:hover {
    transition: 0.3s;
    color: #161414;
}

.twitter i:hover {
    transition: 0.3s;
    color: #1C9DEB;
}

.linkedin i:hover {
    transition: 0.3s;
    color: #0271AE;
}

.facebook i:hover {
    transition: 0.3s;
    color: #395698;
}

.instagram i:hover {
    transition: 0.3s;
    color: #C1558B;
}

.medium i:hover {
    transition: 0.3s;
    color: #292929;
}

.resume i:hover {
    transition: 0.3s;
    color: var(--red);
}


/* Footer */

footer {
    display: inline-block;
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
}


/* Navigation */

.navbar {
    background-color: var(--arsenic);
    display: flex;
    padding: 16px;
    position: fixed;
    width: 100%;
    justify-content: center;
}

.navbar-toggle {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 16px;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
}

.divider {
    padding: 0;
    margin: 0;
    color: white;
}


/* 
nav {
    text-align: center;
    background: var(--arsenic);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
} */


/* About  */

.about {
    background: linear-gradient(rgba(96, 108, 136, 0.8), rgba(63, 76, 107, 0.8)), url(../images/backgrounds/about.webp) no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.about a {
    text-decoration: none;
    color: var(--linen);
    font-weight: bold;
}

.about a:hover {
    text-decoration: underline;
}

.about p {
    line-height: 2;
}


/* Work Experience */

.work {
    background: linear-gradient(rgba(35, 37, 38, 0.8), rgba(65, 67, 69, 0.8)), url(../images/backgrounds/work-experience.webp) no-repeat fixed;
    background-size: cover;
    background-position: center;
}

h3~p {
    margin: 0;
}

.col-narrow h3 {
    text-transform: uppercase;
}

.col-narrow p:last-child {
    margin-top: 10px;
}

.location-time {
    margin-top: 10px;
}

.team-android a {
    text-decoration: none;
    color: #76BD55;
}

.date {
    float: right;
}


/* Education */

.education {
    background: linear-gradient(rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../images/backgrounds/edu.webp) no-repeat fixed;
    background-size: cover;
}

p+h3 {
    margin-top: 30px;
}


/* Skills */

.skills {
    background: linear-gradient(rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../images/backgrounds/tech-skills.webp) no-repeat fixed;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-item {
    padding: 30px;
    text-align: center;
    border-radius: 1%;
}

.grid-item img {
    padding: 15px 0px;
}

.grid-item a {
    text-decoration: none;
    color: white;
}

.grid-item a:hover {
    text-decoration: underline;
}

.grid-item h3 {
    color: black;
    margin-bottom: 30px;
}

.grid-item p {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.grid-item h2 {
    margin-top: 0;
}

.intermediate {
    background: rgba(28, 157, 235, 0.5);
}

.basic {
    background: rgba(22, 20, 20, 0.5);
}

.professional {
    background: rgba(60, 185, 127, 0.5);
}


/* Achievements */

.achievements {
    background: linear-gradient(rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../images/backgrounds/achievements.webp) no-repeat fixed;
    background-size: cover;
}

.grid-achievements {
    grid-template-columns: 50% 50%;
}

.grid-achievements div {
    background: white;
}

.grid-achievements h1,
.grid-achievements h2,
.grid-achievements p {
    color: black;
}

.fa-info-circle {
    color: #0271AE;
}

.fa-map-marker-alt,
.fa-medal {
    color: var(--red);
}


/* Projects */

.projects {
    background: linear-gradient(rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../images/backgrounds/projects.webp) no-repeat fixed;
    background-size: cover;
}

.grid-projects {
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.grid-projects div {
    background: rgba(0, 0, 0, 0.5);
}

.grid-projects h3 {
    color: white;
    text-transform: uppercase;
}

.grid-projects p:last-child {
    margin-top: 20px;
}

.availability {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 10px;
}