.projects {
  margin: 12px 0px;
}

.projects-section-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects-scroll {
  overflow: hidden;
}

.projects-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0px;
  height: 50px;
}

.projects-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(25, 25, 25, 0.5);
  width: 100px;
  height: inherit;
}

.projects-footer-container:hover {
  background-color: rgba(40, 40, 40, 0.5);
  cursor: pointer;
}

.item-project-container {
  width: 450px;
  /* height: 300px; */
  background-color: rgba(25, 25, 25, 0.5);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 12px 0px 0px;
  transition: 0.3s;
}

.item-project-container:hover {
  background-color: rgba(40, 40, 40, 0.5);
}

.item-project-logo {
  width: 120px;
}

.item-project-title {
  text-transform: uppercase;
}

.item-project-title-subtitle {
  margin: 12px 0px;
}

.item-project-release-date {
  font-size: small;
  color: rgb(100, 100, 100);
}

.item-project-release-date-tbp {
  color: rgb(255, 191, 0);
}

.item-project-release-date-dead {
  color: rgb(206, 38, 38);
}

.item-project-description {
  height: 250px;
}

.item-project-icon {
  width: 40px;
  height: 40px;
  cursor: inherit;
}

.item-project-technologies {
  display: flex;
}

.item-project-technology {
  font-size: small;
}

.item-project-title-container {
  display: flex;
  justify-content: space-between;
}
