/* Color Palette
#394648 - ARSENIC
#69995D - RUSSIAN GREEN
#CBAC88 - LIGHT FRENCH BEIGE
#EDB6A3 - DESERT SAND
#F8E9E9 - LINEN
#9C0D38 - RED
*/

/* Global Styles  */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 25px;
    margin-top: 0;
}
p {
    margin: 10px 0;
}
a {
    color: #9C0D38;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow {
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 200px;
}

/* Header and Footer styles */
header, footer {
    background: #EDB6A3;
    color: #394648;
}
/* Header */
.profile-img {
    border-radius: 50%;
}
header h1, header h2 {
    color: #394648;
    margin: 0;
}
/* Footer */
footer {
    text-align: center;
}
.contact-info a {
    padding: 10px;
    background: #394648;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.contact-info a:hover {
    text-decoration: underline;
}

/* Work Experience */
.work {
    background: #69995D;
}


/* Education */
.education {
    background: #CBAC88;
}