.country {
    color: rgb(93, 218, 93);
}

.btn-primary {
    background-color: rgba(34, 112, 34, 0.8);
    border-radius: 2px;
}

.btn-primary:hover {
    background-color: rgba(34, 112, 34, 1);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: rgba(7, 43, 7, 0.8);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(6, 80, 10, 0.5)
}

.bg-primary {
    background-color: darkkhaki!important;
    background: linear-gradient(to bottom,rgba(13, 37, 73, 0.8) 0,rgba(49, 49, 49, 0.8) 100%),url(../img/bg-about.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#services, #question {
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1));
}

.icon-color {
    color: #212121;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-icons a {
    padding: 10px;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    background: rgba(0, 0, 0, 0.7);
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: rgba(34, 112, 34, 1)!important;

}

.fa-facebook-square:hover {
    color: #3b5998!important;
    transition: 0.3s;
}

.fa-instagram:hover {
    color: #8a3ab9!important;
    transition: 0.3s;
}

.fa-twitter:hover {
    color: #1da1f2!important;
    transition: 0.3s
}

.fa-envelope:hover {
    color: #006600!important;
    transition: 0.3s;
}
