.social-container {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px 0px 0px;
  width: 150px;
}

.social-icon {
  color: rgba(255, 255, 255, 0.3);
  font-size: large;
  transition-property: color;
  transition-duration: 0.3s;
}

.social-icon:hover {
  color: rgba(255, 255, 255, 1);
}
