.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  padding: 0px 24px;
  height: inherit;
}

.container:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

.icon {
  color: var(--icon-color);
}
