.container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.containerWithoutWidth {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  width: 450px;
  height: 450px;
}

.container:hover {
  background-color: black;
}

.contentContainer {
  padding: 8px 16px 16px;
}

.topContainer {
  margin: 12px 0px;
}

.topContainer p {
  font-size: small;
  color: gray;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 100px;
}

.featuredImage {
  object-fit: cover;
  width: inherit;
}

.detailsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  padding: 8px 16px 16px;
}

.detailsContainer p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: small;
  color: gray;
  transition: 0.3s;
}

.detailsContainer svg {
  color: gray;
  transition: 0.3s;
}

.container:hover .detailsContainer p {
  color: white;
}

.containerWithoutWidth:hover .detailsContainer p {
  color: white;
}

.container:hover .detailsContainer svg {
  color: white;
}

.containerWithoutWidth:hover .detailsContainer svg {
  color: white;
}
