.root {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  padding: 0px 12px 0px 24px;
}

.headerContainer {
  margin: 12px 0px;
}

.content p {
  margin: 0px 0px 12px 0px;
}

.content a {
  text-decoration: none;
  color: white;
}

.moreContainer {
  flex: 0.3;
  margin: 12px;
}

.title {
  margin-bottom: 12px;
  font-weight: 600;
  color: gray;
}

.moreListContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.authorContainer {
  display: flex;

  align-items: center;
  align-content: center;
  column-gap: 12px;
}

.authorContainer img {
  border-radius: 100%;
}

.authorContainer div {
  display: flex;
  flex-direction: column;
}

.authorContainer div a {
  color: gray;
  cursor: pointer;
}

.authorContainer div a:hover {
  color: white;
}
