.container {
  background-color: #121212;
  padding: 12px 16px;
  height: max-content;
  width: max-content;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.container ol {
  padding-left: 16px;
}

.containerWithNoWidth {
  background-color: #121212;
  padding: 12px 16px;
  height: 150px;
  border-radius: 12px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.container:hover,
.containerWithNoWidth:hover {
  background-color: black;
}

.container p,
.containerWithNoWidth p {
  font-size: small;
}

.byContainer {
  display: flex;
  column-gap: 6px;
}

.byContainer h3 {
  text-transform: capitalize;
}
