:root {
  --font-mono: "Hind Siliguri", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-color: #212121;
  --text-color: white;
  --icon-color: white;
  --divider-color: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: var(--font-mono);
  scroll-behavior: smooth;
  background: linear-gradient(0deg, #560f0f, #1d1d1d, #091a22, #040404);
  background-size: 250% 250%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  font-family: var(--font-mono);
}

:is(p, h1, h2, h3, h4, h5, h6) {
  color: var(--text-color);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #212121;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header */
nav {
  height: 60px;
  margin: 64px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul a {
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
}

nav ul a:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

/* Footer */

footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  color: white;
  padding: 16px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

/* Wordpress */
.wp-block-separator,
.has-alpha-channel-opacity {
  border-color: rgba(250, 250, 250, 0.1);
  margin: 24px 0px;
}

.wp-block-table table {
  margin: 12px 0px;
}

.wp-block-table tr {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 12px 0px;
}

.wp-block-table th {
  flex: 1;
  color: white;
  text-align: left;
  margin-right: 12px;
}

.wp-block-table td {
  flex: 1;
  color: white;
  line-height: 24px;
  margin-right: 12px;
}
