.moreItemContainer {
  display: flex;
  /* padding: 12px; */
  background-color: #121212;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
}

.moreItemContainer:hover {
  background-color: black;
}

.textContainer {
  padding: 0px 16px;
}

.featuredImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.textContainer h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.textContainer p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: small;
}
