.skills {
  margin: 12px 0px;
}

.skills-section-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.skills-scroll {
  overflow: hidden;
}

.skills-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0px;
  height: 50px;
}

.skills-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(25, 25, 25, 0.5);
  width: 100px;
  height: inherit;
}

.skills-footer-container:hover {
  background-color: rgba(40, 40, 40, 0.5);
  cursor: pointer;
}

.item-skill-container {
  width: 250px;
  background-color: rgba(25, 25, 25, 0.5);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 12px 0px 0px;
  transition: 0.3s;
}

.item-skill-container:hover {
  background-color: rgba(40, 40, 40, 0.5);
}

.item-skill-logo {
  width: 120px;
}

.item-skill-library-container {
  height: 160px;
}

.item-skill-library {
  font-size: small;
}
