.blog-detail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.blog-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 24px 0px;
}

.blog-detail-poster {
  width: 60%;
}

.blog-detail-content {
  width: 60%;
}

.blog-detail-title-container {
  margin: 12px 0px;
}

.blog-detail-release-date {
  font-size: medium;
  color: rgb(100, 100, 100);
}
